<header>
    <nav>
        <a href="/">
            <figure><img src="img/logo.svg" alt="Funda"/></figure>
        </a>
        <ul>
            <li><a href="/wizzard">Wizzard</a></li>
        </ul>
    </nav>
</header>
