<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title }}</title>
    <link href="/manifest.json" rel="manifest">

    <!-- critical css -->
    {{> loadcss}}
    <!-- {{> criticalcss}} -->
    <script> loadCSS('/css/style.css'); </script>
    <noscript>
        <link rel="stylesheet" href="/css/style.css">
    </noscript>

    {{> javascript}}
</head>
<body>
    {{> header}}
    {{{body}}}

</body>
</html>
